body {
    background-color: black;
    
}

nav {
    background-color: white;
    height: 1.5em;
    width: 100vw;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

#game {
    width: 50%;
    min-width: 326px;
    background-color: beige;
    margin: 3em auto;
    border-radius: 5px;
    padding: 2%;
}

#head-panel {
    display: flex;
    justify-content: space-around;
}


#game-area {
    margin: 0 calc((100% - 300px) / 2);
    background-color: gray;
    width: 300px;
    line-height: 0px;
    border: 5px;
    border-style: solid;
    border-color: rgb(105, 95, 95);
}

.game-space {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url("Resources/minesweeperUnmarked.jpg");
    background-size: cover;
    background-position: center;
    display: inline-block;
}