body {
    background-color: white;
    
}

nav {
    background-color: white;
    height: 23px;
    width: 100vw;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: brown;
    text-align: center;
}

.nav-option {
    color: black;
    display: inline-block;
    text-decoration: none;
    height: 1em;
    margin: auto;
}

.nav-option:hover {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: black;
    color: rgb(156, 156, 156);
}

.current {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: calc(100% - 4px);
    background-color: rgb(155, 143, 143);
    border-radius: 2px;
    border-color: black;
    border-style: solid;
}

#game {
    width: 50%;
    min-width: 426px;
    max-width: 500px;
    background-color: rgb(150, 150, 150);
    margin: 3em auto;
    border-radius: 2px;
    padding: 2%;
}

#head-panel {
    display: flex;
    justify-content: space-around;
}


#game-area {
    margin: 0 calc((100% - 400px) / 2);
    background-color: gray;
    width: 400px;
    line-height: 0px;
    border: 5px;
    border-style: solid;
    border-color: rgb(105, 95, 95);
}

.game-space {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url("Resources/minesweeperUnmarked.jpg");
    background-size: cover;
    background-position: center;
    display: inline-block;
}